* {
    background-color: #252525;
   
}

.top {
}

h1 {
    font-size: 40px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
    width: 500px;
    height: 500px;
}